# Analyzing the Ontario Labour Force Estimates

dataset info:

Title: Labour force estimates by occupation

Dataset Source: Ontario Data Catalogue

Dataset URL: https://data.ontario.ca/dataset/labour-force-estimates-by-occupation

Date Accessed: October 17, 2023

In [1]:
# Importing py libraries

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Loading dataset into a py dataframe

df = pd.read_csv('mltsd_v0906_18_tab4qq.csv')

In [3]:
# Exploratory Data Analysis
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

     MONTH               GEOGRAPHY     LFS CHARCT.              Occupation  \
0  Mar2001  Total, Ontario regions    Labour force  Total, all occupations
1  Mar2001  Total, Ontario regions    Labour force  Total, all occupations
2  Mar2001  Total, Ontario regions    Labour force  Total, all occupations
3  Mar2001  Total, Ontario regions    Labour force  Total, all occupations
4  Mar2001  Total, Ontario regions    Labour force  Total, all occupations

                  AGE GROUP Both sexes    Male  Female
0  Total, 15 years and over     6189.5  3303.2  2886.3
1               15-64 years     6101.8  3244.9  2856.9
2                     15-19      404.6   200.4   204.2
3                     20-24      552.5   286.7   265.8
4                     25-44     3221.4  1713.8  1507.6
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657280 entries, 0 to 657279
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   MONTH        657280 non-null  object
 1   GEOGRAPHY    657280 non-null  object
 2   LFS CHARCT.  657280 non-null  object
 3   Occupation   657280 non-null  object
 4   AGE GROUP    657280 non-null  object
 5   Both sexes   657280 non-null  object
 6   Male         657280 non-null  object
 7   Female       657280 non-null  object
dtypes: object(8)
memory usage: 40.1+ MB
None
          MONTH               GEOGRAPHY     LFS CHARCT.  \
count    657280                  657280          657280
unique       79                       5               4
top     Mar2001  Total, Ontario regions    Labour force
freq       8320                  131456          164320

                    Occupation                 AGE GROUP Both sexes    Male  \
count                   657280                    657280     657280  657280
unique                      52                         8       9192    6486
top     Total, all occupations  Total, 15 years and over        0.0     0.0
freq                     12640                     82160     285959  326402

        Female
count   657280
unique    6334
top        0.0
freq    331442
MONTH          0
GEOGRAPHY      0
LFS CHARCT.    0
Occupation     0
AGE GROUP      0
Both sexes     0
Male           0
Female         0
dtype: int64