# Job Classifications with the Linear Discriminant Analysis (LDA) model
dataset info:

Title: Job Classification Dataset

Dataset Source: HR Analytic Repository on Kaggle

Dataset URL: https://www.kaggle.com/datasets/HRAnalyticRepository/job-classification-dataset

Date Accessed: September 28, 2023

In [1]:
#importing the required libraries to complete the lDA model
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
#loading the dataset into a python dataframe
df = pd.read_csv('jobclassinfo2.csv')

In [3]:
#initial exploratory data analysis (EDA)
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

   ID  JobFamily    JobFamilyDescription  JobClass JobClassDescription  \
0   1          1  Accounting And Finance         1        Accountant I
1   2          1  Accounting And Finance         2       Accountant II
2   3          1  Accounting And Finance         3      Accountant III
3   4          1  Accounting And Finance         4       Accountant IV
4   5          2  Administrative Support         5     Admin Support I

   PayGrade  EducationLevel  Experience  OrgImpact  ProblemSolving  \
0         5               3           1          3               3
1         6               4           1          5               4
2         8               4           2          6               5
3        10               5           5          6               6
4         1               1           0          1               1

   Supervision  ContactLevel  FinancialBudget    PG
0            4             3                5  PG05
1            5             7                7  PG06
2            6             7               10  PG08
3            7             8               11  PG10
4            1             1                1  PG01
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    66 non-null     int64
 1   JobFamily             66 non-null     int64
 2   JobFamilyDescription  66 non-null     object
 3   JobClass              66 non-null     int64
 4   JobClassDescription   66 non-null     object
 5   PayGrade              66 non-null     int64
 6   EducationLevel        66 non-null     int64
 7   Experience            66 non-null     int64
 8   OrgImpact             66 non-null     int64
 9   ProblemSolving        66 non-null     int64
 10  Supervision           66 non-null     int64
 11  ContactLevel          66 non-null     int64
 12  FinancialBudget       66 non-null     int64
 13  PG                    66 non-null     object
dtypes: int64(11), object(3)
memory usage: 7.3+ KB
None
              ID  JobFamily   JobClass   PayGrade  EducationLevel  Experience  \
count  66.000000  66.000000  66.000000  66.000000       66.000000   66.000000
mean   33.500000   7.606061  33.500000   5.696970        3.166667    1.757576
std    19.196354   4.209436  19.196354   2.517445        1.525005    2.134411
min     1.000000   1.000000   1.000000   1.000000        1.000000    0.000000
25%    17.250000   4.000000  17.250000   4.000000        2.000000    0.000000
50%    33.500000   7.000000  33.500000   5.000000        4.000000    1.000000
75%    49.750000  11.000000  49.750000   8.000000        4.000000    2.750000
max    66.000000  15.000000  66.000000  10.000000        6.000000   10.000000

       OrgImpact  ProblemSolving  Supervision  ContactLevel  FinancialBudget
count  66.000000       66.000000    66.000000     66.000000        66.000000
mean    3.348485        3.606061     3.863636      4.757576         5.303030
std     1.767157        1.412894     2.104109      2.468638         3.525597
min     1.000000        1.000000     1.000000      1.000000         1.000000
25%     2.000000        3.000000     1.000000      3.000000         2.000000
50%     3.000000        4.000000     4.000000      6.000000         5.000000
75%     4.000000        5.000000     5.750000      7.000000         7.750000
max     6.000000        6.000000     7.000000      8.000000        11.000000
ID                      0
JobFamily               0
JobFamilyDescription    0
JobClass                0
JobClassDescription     0
PayGrade                0
EducationLevel          0
Experience              0
OrgImpact               0
ProblemSolving          0
Supervision             0
ContactLevel            0
FinancialBudget         0
PG                      0
dtype: int64

In [4]:
#feature selection: choosing the features we want to use for the LDA model.
selected_features = ['EducationLevel', 'Experience', 'OrgImpact', 'ProblemSolving', 'Supervision', 'ContactLevel', 'FinancialBudget']

In [5]:
#spliting the data into training and testing sets.
X = df[selected_features]
y = df['PayGrade']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
#creatin an LDA model and fit it to the training data
lda = LinearDiscriminantAnalysis(n_components=7)  # we can adjust the number of components as needed
X_train_lda = lda.fit_transform(X_train, y_train)

In [7]:
# Evaluate the model (optional)
X_test_lda = lda.transform(X_test)
y_pred = lda.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f'Mean Absolute Error: {mae:.2f} which means that on average our LDA regression model predictions are off by approximately {mae:.2f} PayGrade units')
print(f'Mean Squared Error: {mse:.2f} which means that on average the squared differences between our models predictions and the true PayGrade values are {mse:.2f}')

Mean Absolute Error: 0.50 which means that on average our LDA regression model predictions are off by approximately 0.50 PayGrade units
Mean Squared Error: 0.50 which means that on average the squared differences between our models predictions and the true PayGrade values are 0.50

In [8]:
#Testing out our model with a new job description
new_job = {
    'EducationLevel': 3,
    'Experience': 1,
    'OrgImpact': 3,
    'ProblemSolving': 3,
    'Supervision': 4,
    'ContactLevel': 3,
    'FinancialBudget': 5
}

new_instance_df = pd.DataFrame(data=[new_job], columns=selected_features)

predicted_paygrade = lda.predict(new_instance_df)
print(f'Predicted PayGrade: {predicted_paygrade[0]:.2f}')

Predicted PayGrade: 5.00