# Analysis of sick time taken

dataset info:

Title: OPS workforce demographics

Dataset Source: Ontario Data Catalogue

Dataset URL: https://data.ontario.ca/dataset/ops-workforce-demographics/resource/73a52425-92c0-440e-bad5-badd42edfbe9

Date Accessed: October 12, 2023

In [1]:
# Importing py llibraries

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Processing dataset as a py dataframe
df = pd.read_csv('ops_workforce_demographic_dataset_-_2015_to_2023_english.csv', encoding='ISO-8859-1')

# dropping the first two rows so that column titles are at index 0
df.columns = df.iloc[1]
df = df.drop([0, 1]).reset_index(drop=True)

In [3]:
# Exploratory data analysis (EDA)
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

1       Date FTE Allocation  FTE Actuals Variance # Student FTEs  \
0  31-Mar-15        65167.5      62932.8  -2234.7          511.1
1  31-Mar-16        65592.5      63139.1  -2453.4          484.1
2  31-Mar-17        66362.5      63881.8  -2480.7            555
3  31-Mar-18        67161.8        66569   -592.8          653.6
4  31-Mar-19        68084.2      65568.3  -2515.9          623.2

1 # Intern FTEs # Seasonal FTEs # Pending LTIP and Salary Continuance FTEs  \
0         296.5           814.9                                      307.4
1         286.3           866.7                                      274.5
2           307           852.9                                        208
3           371             929                                      245.5
4           395             912                                      247.8

1 Total Staff Strength FTEs (basis for remaining columns)  # Regular FTEs  \
0                                            64862.7              55308.9
1                                            65050.7              55217.8
2                                            65804.8              54421.6
3                                            68768.1                56070
4                                            67751.3              55860.2

1  ... # Females Earning  $100,000 - 149,999  \
0  ...                                  2675
1  ...                                3003.8
2  ...                                4642.5
3  ...                                5840.9
4  ...                                6228.2

1 # Males Earning  $100,000 - 149,999 # Females Earning  $150,000 - 199,999  \
0                              4425.9                                 759.3
1                              4643.5                                 828.5
2                              6887.8                                 806.1
3                              8501.2                                1033.3
4                              8676.6                                  1038

1 # Males Earning  $150,000 - 199,999 # Females Earning  $200,000 - 249,999  \
0                               728.9                                  12.9
1                               743.8                                  41.9
2                                 771                                 131.9
3                               964.2                                 154.6
4                               905.7                                   143

1 # Males Earning  $200,000 - 249,999 # Females Earning  $250,000 - 299,999  \
0                                  41                                 106.9
1                                  72                                 105.2
2                                 161                                 122.5
3                               182.9                                 148.8
4                                 172                                  23.2

1 # Males Earning  $250,000 - 299,999 # Females Earning  $300,000 and Over  \
0                               188.5                                 10.4
1                               181.4                                    9
2                                 185                                 10.4
3                                 177                                 18.4
4                                  25                                135.2

1 # Males Earning  $300,000 and Over
0                                 23
1                                 33
2                               33.7
3                               48.3
4                              198.7

[5 rows x 74 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 74 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Date                                                                                          9 non-null      object
 1   FTE Allocation                                                                                9 non-null      object
 2    FTE Actuals                                                                                  9 non-null      object
 3   Variance                                                                                      9 non-null      object
 4   # Student FTEs                                                                                9 non-null      object
 5   # Intern FTEs                                                                                 9 non-null      object
 6   # Seasonal FTEs                                                                               9 non-null      object
 7   # Pending LTIP and Salary Continuance FTEs                                                    9 non-null      object
 8   Total Staff Strength FTEs (basis for remaining columns)                                       9 non-null      object
 9   # Regular FTEs                                                                                9 non-null      object
 10  # Non-Regular FTEs                                                                            9 non-null      object
 11  # OPSEU FTEs                                                                                  9 non-null      object
 12  # AMAPCEO FTEs                                                                                9 non-null      object
 13  # OPPA FTEs                                                                                   9 non-null      object
 14  # ALOC/OCAA FTEs                                                                              9 non-null      object
 15  # AOPDPS FTEs                                                                                 9 non-null      object
 16  # PEGO FTEs                                                                                   9 non-null      object
 17  # PSAT FTEs                                                                                   9 non-null      object
 18  Total # OPS Unionized FTEs                                                                    9 non-null      object
 19  # MCP FTEs                                                                                    9 non-null      object
 20  # SMG/ITX FTEs                                                                                9 non-null      object
 21  # Excluded FTEs                                                                               9 non-null      object
 22  # OPPCOA FTEs                                                                                 9 non-null      object
 23  # OTHER Non-Unionized FTEs                                                                    9 non-null      object
 24  Total # OPS Non-Unionized FTEs                                                                9 non-null      object
 25  # FTEs in Central Region                                                                      9 non-null      object
 26  # FTEs in West Region                                                                         9 non-null      object
 27  # FTEs in East Region                                                                         9 non-null      object
 28  # FTEs in North Region                                                                        9 non-null      object
 29  Total # Female FTEs                                                                           9 non-null      object
 30  Total # Male FTEs                                                                             9 non-null      object
 31  Total # Manager FTEs                                                                          9 non-null      object
 32  # Female Manager FTEs                                                                         9 non-null      object
 33  # Male Manager FTEs                                                                           9 non-null      object
 34  Average Age (Regular)                                                                         9 non-null      object
 35  Average Age (Non-regular)                                                                     9 non-null      object
 36  Average Age (All)                                                                             9 non-null      object
 37  Average Tenure Regular (Years)                                                                9 non-null      object
 38  Average Tenure Non-regular (Years)                                                            9 non-null      object
 39  Average Tenure All (Years)                                                                    9 non-null      object
 40  Average Sick Credit Days Taken Last Complete Calendar Year                                    9 non-null      object
 41  Average # Staff with Fewer than 6 Sick Credit Days Taken (As of Last Complete Calendar Year)  9 non-null      object
 42  Average # Staff with 6 or More Sick Credit Days (As of Last Complete Calendar Year)           9 non-null      object
 43  Average Salary ($)                                                                            9 non-null      object
 44  Median Salary ($)                                                                             9 non-null      object
 45  Female Average Annual Salary                                                                  9 non-null      object
 46  Male Average Annual Salary                                                                    9 non-null      object
 47  OPS Compensation Data by Gender: (Male Salary - Female Salary) / Male Salary                  9 non-null      object
 48  # Females Earning $29,999 or Less                                                             9 non-null      object
 49  # Males Earning $29,999 or Less                                                               9 non-null      object
 50  # Females Earning $30,000 - $39,999                                                           9 non-null      object
 51  # Males Earning $30,000 - $39,999                                                             9 non-null      object
 52  # Females Earning $40,000 - $49,999                                                           9 non-null      object
 53  # Males Earning $40,000 - $49,999                                                             9 non-null      object
 54  # Females Earning  $50,000 - $59,999                                                          9 non-null      object
 55  # Males Earning  $50,000 - $59,999                                                            9 non-null      object
 56  # Females Earning  $60,000 - $69,999                                                          9 non-null      object
 57  # Males Earning  $60,000 - $69,999                                                            9 non-null      object
 58  # Females Earning  $70,000 - $79,999                                                          9 non-null      object
 59  # Males Earning  $70,000 - $79,999                                                            9 non-null      object
 60  # Females Earning  $80,000 - $89,999                                                          9 non-null      object
 61  # Males Earning  $80,000 - $89,999                                                            9 non-null      object
 62  # Females Earning  $90,000 - $99,999                                                          9 non-null      object
 63  # Males Earning  $90,000 - $99,999                                                            9 non-null      object
 64  # Females Earning  $100,000 - 149,999                                                         9 non-null      object
 65  # Males Earning  $100,000 - 149,999                                                           9 non-null      object
 66  # Females Earning  $150,000 - 199,999                                                         9 non-null      object
 67  # Males Earning  $150,000 - 199,999                                                           9 non-null      object
 68  # Females Earning  $200,000 - 249,999                                                         9 non-null      object
 69  # Males Earning  $200,000 - 249,999                                                           9 non-null      object
 70  # Females Earning  $250,000 - 299,999                                                         9 non-null      object
 71  # Males Earning  $250,000 - 299,999                                                           9 non-null      object
 72  # Females Earning  $300,000 and Over                                                          9 non-null      object
 73  # Males Earning  $300,000 and Over                                                            9 non-null      object
dtypes: object(74)
memory usage: 5.3+ KB
None
1            Date FTE Allocation  FTE Actuals Variance # Student FTEs  \
count           9              9            9        9              9
unique          9              9            9        9              9
top     31-Mar-15        65167.5      62932.8  -2234.7          511.1
freq            1              1            1        1              1

1      # Intern FTEs # Seasonal FTEs  \
count              9               9
unique             9               9
top            296.5           814.9
freq               1               1

1      # Pending LTIP and Salary Continuance FTEs  \
count                                           9
unique                                          9
top                                         307.4
freq                                            1

1      Total Staff Strength FTEs (basis for remaining columns)   \
count                                                   9
unique                                                  9
top                                               64862.7
freq                                                    1

1      # Regular FTEs  ... # Females Earning  $100,000 - 149,999  \
count               9  ...                                     9
unique              9  ...                                     9
top           55308.9  ...                                  2675
freq                1  ...                                     1

1      # Males Earning  $100,000 - 149,999  \
count                                    9
unique                                   9
top                                 4425.9
freq                                     1

1      # Females Earning  $150,000 - 199,999  \
count                                      9
unique                                     9
top                                    759.3
freq                                       1

1      # Males Earning  $150,000 - 199,999  \
count                                    9
unique                                   9
top                                  728.9
freq                                     1

1      # Females Earning  $200,000 - 249,999  \
count                                      9
unique                                     9
top                                     12.9
freq                                       1

1      # Males Earning  $200,000 - 249,999  \
count                                    9
unique                                   9
top                                     41
freq                                     1

1      # Females Earning  $250,000 - 299,999  \
count                                      9
unique                                     9
top                                    106.9
freq                                       1

1      # Males Earning  $250,000 - 299,999  \
count                                    9
unique                                   9
top                                  188.5
freq                                     1

1      # Females Earning  $300,000 and Over # Males Earning  $300,000 and Over
count                                     9                                  9
unique                                    8                                  9
top                                    10.4                                 23
freq                                      2                                  1

[4 rows x 74 columns]
1
Date                                     0
FTE Allocation                           0
 FTE Actuals                             0
Variance                                 0
# Student FTEs                           0
                                        ..
# Males Earning  $200,000 - 249,999      0
# Females Earning  $250,000 - 299,999    0
# Males Earning  $250,000 - 299,999      0
# Females Earning  $300,000 and Over     0
# Males Earning  $300,000 and Over       0
Length: 74, dtype: int64

In [5]:
# Converting features of interest from an object type to a float for analysis

df['Average Sick Credit Days Taken Last Complete Calendar Year'] = df['Average Sick Credit Days Taken Last Complete Calendar Year'].astype(float)
df['Average # Staff with Fewer than 6 Sick Credit Days Taken (As of Last Complete Calendar Year)'] = df['Average # Staff with Fewer than 6 Sick Credit Days Taken (As of Last Complete Calendar Year)'].astype(float)
df['Average # Staff with 6 or More Sick Credit Days (As of Last Complete Calendar Year)'] = df['Average # Staff with 6 or More Sick Credit Days (As of Last Complete Calendar Year)'].astype(float)

# Converting the Date feature into a datetime format
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\vpop\AppData\Local\Temp\ipykernel_2932\1630744726.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'])