# Analysis of the Salary Quartiles by Position
dataset info:

Title: Human Resources Data Set

Dataset Source: Kaggle

Dataset URL: https://www.kaggle.com/datasets/rhuebner/human-resources-data-set

Date Accessed: October 5, 2023

In [4]:
# Importing py libraries

import pandas as pd

In [5]:
# Loading up the dataset into a py dataframe for analysis

df = pd.read_csv('HRDataset_v14.csv')

In [6]:
# Grouping the data by 'Position'
position_groups = df.groupby('Position')

# Calculateing the first, second (median), and third quartiles for salary within each position group
quartiles = position_groups['Salary'].quantile([0.25, 0.5, 0.75])

# Renaming the quartile levels for clarity
quartiles = quartiles.unstack(level=1)
quartiles.columns = ['First Quartile', 'Median (Second Quartile)', 'Third Quartile']

# Printing the quartiles for each position
print(quartiles)

                              First Quartile  Median (Second Quartile)  \
Position
Accountant I                        63001.50                   63003.0
Administrative Assistant            50920.00                   51920.0
Area Sales Manager                  60837.50                   63695.0
BI Developer                        94465.00                   96370.0
BI Director                        110929.00                  110929.0
CIO                                220450.00                  220450.0
Data Analyst                        88559.00                   89883.0
Data Analyst                        88527.00                   88527.0
Data Architect                     150290.00                  150290.0
Database Administrator             105700.00                  110000.0
Director of Operations             170500.00                  170500.0
Director of Sales                  180000.00                  180000.0
Enterprise Architect               103613.00                  103613.0
IT Director                        178000.00                  178000.0
IT Manager - DB                    142939.75                  144959.5
IT Manager - Infra                 157000.00                  157000.0
IT Manager - Support               138888.00                  138888.0
IT Support                          58875.75                   66150.0
Network Engineer                    52599.00                   53366.0
President & CEO                    250000.00                  250000.0
Principal Data Architect           120000.00                  120000.0
Production Manager                  69198.25                   74928.5
Production Technician I             50482.00                   55425.0
Production Technician II            60656.00                   64995.0
Sales Manager                       67364.00                   68999.0
Senior BI Developer                 83243.50                   84903.0
Shared Services Manager             93046.00                   93046.0
Software Engineer                   93090.75                   97470.0
Software Engineering Manager        77692.00                   77692.0
Sr. Accountant                     101105.00                  102859.0
Sr. DBA                            101132.50                  102234.0
Sr. Network Engineer                87565.00                   92329.0

                              Third Quartile
Position
Accountant I                        63761.50
Administrative Assistant            53460.00
Area Sales Manager                  70327.50
BI Developer                        97370.00
BI Director                        110929.00
CIO                                220450.00
Data Analyst                        92710.50
Data Analyst                        88527.00
Data Architect                     150290.00
Database Administrator             113999.00
Director of Operations             170500.00
Director of Sales                  180000.00
Enterprise Architect               103613.00
IT Director                        178000.00
IT Manager - DB                    146979.25
IT Manager - Infra                 157000.00
IT Manager - Support               138888.00
IT Support                          69163.75
Network Engineer                    75281.00
President & CEO                    250000.00
Principal Data Architect           120000.00
Production Manager                  82196.50
Production Technician I             61242.00
Production Technician II            68407.00
Sales Manager                       70995.50
Senior BI Developer                 86412.00
Shared Services Manager             93046.00
Software Engineer                  101003.25
Software Engineering Manager        77692.00
Sr. Accountant                     104613.00
Sr. DBA                            103335.50
Sr. Network Engineer                93206.00