# Analysis of Ontario's Unemployment Duration

Dataset Title: Duration of unemployment

Dataset Source: Ontario Data Catalogue

Dataset URL: https://data.ontario.ca/dataset/duration-of-unemployment/resource/8f786bb5-01ac-4e7d-b89f-3437a601941b

Data Accessed: October 19, 2023

In [1]:
# Importing py libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading dataset into a py dataframe

df = pd.read_csv('mltsd_v0906_18_tab2qq.csv')

In [3]:
# Exploratory Data Analysis

print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

     MONTH               GEOGRAPHY          DURATION  \
0  Mar2001  Total, Ontario regions  Total unemployed
1  Mar2001  Total, Ontario regions  Total unemployed
2  Mar2001  Total, Ontario regions  Total unemployed
3  Mar2001  Total, Ontario regions  Total unemployed
4  Mar2001  Total, Ontario regions  Total unemployed

                  AGE GROUP  Both sexes   Male  Female
0  Total, 15 years and over       398.0  229.0   169.0
1               15-64 years       395.8  228.0   167.9
2                     15-19        67.5   39.3    28.1
3                     20-24        53.9   36.2    17.7
4                     25-44       184.4  101.7    82.7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37920 entries, 0 to 37919
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MONTH       37920 non-null  object
 1   GEOGRAPHY   37920 non-null  object
 2   DURATION    37920 non-null  object
 3   AGE GROUP   37920 non-null  object
 4   Both sexes  37920 non-null  float64
 5   Male        37920 non-null  float64
 6   Female      37920 non-null  float64
dtypes: float64(3), object(4)
memory usage: 2.0+ MB
None
         Both sexes          Male        Female
count  37920.000000  37920.000000  37920.000000
mean      16.590506     10.509818      8.807624
std       44.279569     24.544722     21.445969
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        4.600000      2.600000      1.900000
75%       16.700000     13.100000     10.900000
max      940.200000    468.000000    708.000000
MONTH         0
GEOGRAPHY     0
DURATION      0
AGE GROUP     0
Both sexes    0
Male          0
Female        0
dtype: int64