# MFG Absenteeism Analysis
dataset info:

Title: Absenteeism Dataset

Dataset Source: Kaggle

Dataset URL: https://www.kaggle.com/datasets/HRAnalyticRepository/absenteeism-dataset

Date Accessed: October 2, 2023

In [1]:
# Importing python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Preparing the dataset into a python data frame for processing and analysis
df = pd.read_csv('MFGEmployees4.csv')

In [3]:
# Exploratory data analysis
print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())

   EmployeeNumber    Surname GivenName Gender             City JobTitle  \
0               1  Gutierrez     Molly      F          Burnaby    Baker
1               2   Hardwick   Stephen      M        Courtenay    Baker
2               3    Delgado   Chester      M         Richmond    Baker
3               4      Simon     Irene      F         Victoria    Baker
4               5   Delvalle    Edward      M  New Westminster    Baker

  DepartmentName    StoreLocation Division        Age  LengthService  \
0         Bakery          Burnaby   Stores  32.028816       6.018478
1         Bakery          Nanaimo   Stores  40.320902       5.532445
2         Bakery         Richmond   Stores  48.822047       4.389973
3         Bakery         Victoria   Stores  44.599357       3.081736
4         Bakery  New Westminster   Stores  35.697876       3.619091

   AbsentHours BusinessUnit
0    36.577306       Stores
1    30.165072       Stores
2    83.807798       Stores
3    70.020165       Stores
4     0.000000       Stores
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8336 entries, 0 to 8335
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EmployeeNumber  8336 non-null   int64
 1   Surname         8336 non-null   object
 2   GivenName       8336 non-null   object
 3   Gender          8336 non-null   object
 4   City            8336 non-null   object
 5   JobTitle        8336 non-null   object
 6   DepartmentName  8336 non-null   object
 7   StoreLocation   8336 non-null   object
 8   Division        8336 non-null   object
 9   Age             8336 non-null   float64
 10  LengthService   8336 non-null   float64
 11  AbsentHours     8336 non-null   float64
 12  BusinessUnit    8336 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 846.8+ KB
None
       EmployeeNumber          Age  LengthService  AbsentHours
count     8336.000000  8336.000000    8336.000000  8336.000000
mean      4168.500000    42.007086       4.782910    61.283978
std       2406.540255     9.939798       2.462990    49.038365
min          1.000000     3.504743       0.012098     0.000000
25%       2084.750000    35.298748       3.575892    19.127590
50%       4168.500000    42.114924       4.600248    56.005808
75%       6252.250000    48.666943       5.623922    94.284692
max       8336.000000    77.938003      43.735239   272.530123
EmployeeNumber    0
Surname           0
GivenName         0
Gender            0
City              0
JobTitle          0
DepartmentName    0
StoreLocation     0
Division          0
Age               0
LengthService     0
AbsentHours       0
BusinessUnit      0
dtype: int64